.logo-img{
    width: 45px;
    max-width: 100%;
}
.header-section{
    background-color: #e3f2fd;
}
.hover-link{
    transition: .2s;
}
.img-edit{
    height: 450px;
    width: 100%;
}
.big-item{
    font-size: 21px;
}
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}